<!-- Navigation Bar for States -->
<div class="state-navigation flex gap-2 justify-center mb-2">
	<div *ngFor="let state of states; let i = index" class="state-link">
		<span [@levels] [ngClass]="{
		  'cursor-pointer text-white': i < highestStateReached,
		  'bg-bright-turquoise-500': state === currentState,
		  'text-black-pearl-400': i >= highestStateReached
		}" class="p-3 rounded-full w-6 h-6 sm:w-9 sm:h-9 flex items-center justify-center" (click)="goToState(i)">
			<p class="font-extrabold text-sm sm:text-lg">{{ state }}</p>
		</span>
	</div>
</div>
<div
	class=" bg-blue-400 bg-opacity-5 p-10 sm:shadow-md rounded-lg text-center text-white sm:text-lg flex-col flex justify-center items-center sm:border-2 w-[40rem] sm:h-[35rem] overflow-hidden">

	<!-- CAPTCHA States -->
	<div @fadeInStagger *ngIf="currentState === 1" class="w-fit">
		<app-math-captcha (result)="handleCaptchaResults($event)"></app-math-captcha>
	</div>

	<div @fadeInStagger *ngIf="currentState === 2">
		<app-word-image-captcha (result)="handleCaptchaResults($event)"></app-word-image-captcha>
	</div>

	<div @fadeInStagger *ngIf="currentState === 3">
		<app-image-grid-captcha (result)="handleCaptchaResults($event)"></app-image-grid-captcha>
	</div>
</div>
<div @fadeIn class="flex justify-center">
	<button class="mt-2 text-alabaster-600 my-auto" (click)="restart()">
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
			class="w-5 sm:w-6">
			<path stroke-linecap="round" stroke-linejoin="round"
				d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
		</svg>
	</button>
</div>
<div>
</div>